:root {
    --grey: #F0F0F0;
    --black: #040D12;
    --orange: #ff764d;
    --blue: #0000ff;
    --sky-blue: #b1c5ff;
    --yellow: #fbffa7;
    --green: #b6ffc0;
    --purple: #d5b3ff;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

main {
    margin-top: 4rem;
    width: 100%;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

video {
    width: 100%;
}

/* menu styles for mobile */

.nav {
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 2px solid var(--grey);
    position: absolute;
    top: 0;
    left: 0;
}

.nav__nav--mobile {
    display: none; /* by default */
    flex-direction: column;
    justify-content: center;
}

.nav__div {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand--container {
    width: 4rem;
}

.nav__brand--picture {
    width: 100%;
    cursor: pointer;
}

.nav__span {
    width: 2rem;
    cursor: pointer;
}

.span--closeMenu {
    display: none;
}

.nav__img--menu {
    width: 100%;
}

/* dropdown menu */

.dropdownMenu {
    width: 100%;
    display: none; /* by default */
}

.dropdownMenu__ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.dropdownMenu__link {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    color: var(--black);    
}

.dropdownMenu__link:active {
    background-color: var(--black);
    color: white;
}

/* menu styles for desktop */

.nav__nav--desktop {
    display: none; /* by default */
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav__link {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
}

.link--orange {
    color: var(--orange) !important;
}

.link--blue {
    color: var(--blue) !important;
}

/* main section styles */
/* header section */
.section {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.section__ul {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section__link {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 0.8rem;
    color: var(--black);
}

.section__img--header {
    width: 100%;
}

/* section 2 */

.section__title {
    font-size: 0.7em;
    line-height: 1.6em;
}

.section__a {
    width: auto;
    display: inline-block;
    color: var(--blue);
}

.section__text {
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1.6em;
}

.section__div {
    width: 100%;
    display: flex;
}

.div--bg-yellow {    
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: var(--yellow);
}

.section__img--bg-yellow {
    width: 50%;
    padding: 1em;
}

/* section 3 */

.section__cite {
    width: 100%;
    font-size: 0.6em;
    font-weight: 600;
}

/* section 4 */

.div--bg-green {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
}

.section__img--bg-green {
    width: 50%;
    margin: 1em;    
}

/* section 5 */

.section__img--bg-none {
    width: 100%;
}

/* section 6 */

.div--bg-purple {
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
}

.section__img--bg-purple {
    width: 50%;
    margin: 1em;
}

/* section 7 */

.div--bg-blue {
    width: 100%;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: var(--sky-blue);
}

.title--bg-blue {
    padding: 0 1em;
    margin: 0;
}

.section__a--bg-blue {
    font-size: 0.8em;
    padding: 0 1em;
    font-weight: 500;
    color: var(--blue);
}


/* responsive design */

@media (hover: hover) {
    .dropdownMenu__link:hover {
        background-color: var(--black);
        color: white;
    }
}

@media screen and (min-width: 1150px) {
    .nav__nav--desktop {
        display: flex;
    }

}

@media screen and (max-width: 1149px) {
    .nav__nav--mobile {
        display: flex;
    }
    
}

@media screen and (min-width: 800px) {
    .section__title {
        font-size: 1.2em;
    }

    .section__text {
        font-size: 1em;
    }

    .section__a--bg-blue {
        font-size: 1em;
    }

}























