:root {
    --grey: #F0F0F0;
    --black: #040D12;
    --orange: #ff764d;
    --blue: #0000ff;
    --yellow: #fbffa7;
    --green: #b6ffc0;
    --purple: #d5b3ff;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
}

main {
    margin-top: 4rem;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

/* menu styles for mobile */

.nav {
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 2px solid var(--grey);
    position: absolute;
    top: 0;
    left: 0;
}

.nav__nav--mobile {
    display: none; /* by default */
    flex-direction: column;
    justify-content: center;
}

.nav__div {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand--container {
    width: 4rem;
}

.nav__brand--picture {
    width: 100%;
    cursor: pointer;
}

.nav__span {
    width: 2rem;
    cursor: pointer;
}

.span--closeMenu {
    display: none;
}

.nav__img--menu {
    width: 100%;
}

/* dropdown menu */

.dropdownMenu {
    width: 100%;
    display: none; /* by default */
}

.dropdownMenu__ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.dropdownMenu__link {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    color: var(--black);    
}

.dropdownMenu__link:active {
    background-color: var(--black);
    color: white;
}

/* menu styles for desktop */

.nav__nav--desktop {
    display: none; /* by default */
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav__link {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
}

.link--orange {
    color: var(--orange);
}

.link--blue {
    color: var(--blue);
}

/* responsive design */

@media (hover: hover) {
    .dropdownMenu__link:hover {
        background-color: var(--black);
        color: white;
    }
}

@media screen and (min-width: 1100px) {
    .nav__nav--desktop {
        display: flex;
    }

}

@media screen and (max-width: 1099px) {
    .nav__nav--mobile {
        display: flex;
    }
    
}























